:root {
    --blue: #3a155c;
    --teal: #acb7b2;
    --red: #acb7b2;
    --darkteal: #4b1c77;
}

body {
    color: var(--teal);
    font-family: 'Open Sans', sans-serif;
    background-color: var(--blue);
}

button:hover {
    background-color: var(--blue);
    color: var(--teal);
}

button {
    background-color: var(--teal);
    color: var(--blue);
    border: none;
    transition: 800ms ease all;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    text-align: center;
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

strong {
    font-weight: bold;
}
