html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
font,
img,
strong,
ol,
ul,
li,
form,
label,
legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    line-height: inherit;
    vertical-align: baseline;
    background-repeat: no-repeat;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

ol,
ul {
    list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

blockquote,
q {
    quotes: '' '';
}

a {
    outline: none;
    text-decoration: none;
}

/* Makes touches register 300ms faster on touch devices */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
