:root {
    --blue: #25008b;
    --teal: #2ea1ab;
    --red: #f05075;
    --darkteal: #4b1c77;
}

body {
    color: var(--teal);
    font-family: 'Open Sans', sans-serif;
}

.nav-bar {
    display: flex;
    position: fixed;
}

.nav-button {
    margin: 1px;
}
.button-container {
    display: flex;
    justify-content: space-around;
    width: 40vmin;
    height: 10vmin;
}

.interactive-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button:hover {
    background-color: var(--blue);
    color: var(--teal);
}

button {
    background-color: var(--teal);
    color: var(--blue);
    height: 12vmin;
    width: 10vmin;
    border: none;
    transition: 800ms ease all;
    padding: 0 10vmin;
    font-size: 5vmin;
    font-family: 'Open Sans', sans-serif;
    margin: 3vmin;
    outline: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.container-social {
    margin-top: 14vh;
}

.button-social {
    height: 14vmin;
    width: 14vmin;
    padding: 1.2vmin;
    border-radius: 50%;
}
.angle-icon {
    color: var(--teal);
    filter: brightness(130%);
    padding-top: 1vmin;
    width: 2vmin;
    height: 1em;
}
.main-button {
    width: 30vmin;
}

.main-button-text {
    padding-right: 1vmin;
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.page-title {
    font-size: 20vmin;
    color: var(--red);
    font-family: 'Cutive Mono', monospace;
    line-height: 15vmin;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.oskar-title {
    font-size: 23vmin;
    letter-spacing: 1vmin;
    line-height: 17vmin;
}

.page-subtitle {
    color: var(--teal);
    font-size: 4.8vmin;
    filter: brightness(130%);
    font-family: 'Cutive Mono', monospace;
    line-height: 3vmin;
    padding-bottom: 2vmin;
    letter-spacing: 0.5vmin;
}

.page-text {
    font-size: 1.2em;
    line-height: 1.7;
    margin: 1.5em 0;
}

.landing-page {
    background-color: var(--blue);
    background: radial-gradient(circle, var(--darkteal), var(--blue));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.project-page {
    background-color: var(--teal);
    height: 100vh;
    width: 100vw;
}

.about-page {
    background-color: var(--blue);
    height: 100vh;
    width: 100vw;
}

.contact-page {
    background-color: var(--teal);
    height: 100vh;
    width: 100vw;
}

img {
    width: 100%;
    height: auto;
}
.img__selected {
    border: red;
    width: 100px;
    height: 100px;
}

.container-social {
    display: flex;
}

/* media querries for small and big screens */
@media screen and (min-width: 600px) {
}
@media screen and (min-width: 1440px) {
}
