:root {
    --blue: #25008b;
    --teal: #2ea1ab;
    --red: #f05075;
    --darkteal: #4b1c77;
}

body {
    color: var(--teal);
    font-family: 'Open Sans', sans-serif;
    background-color: var(--blue);
}

button:hover {
    background-color: var(--blue);
    color: var(--teal);
}

button {
    background-color: var(--teal);
    color: var(--blue);
    border: none;
    transition: 800ms ease all;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.button-social {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 14vmin;
    width: 14vmin;
    padding: 1.2vmin;
    border-radius: 50%;
    margin: 3vmin;
    font-size: 2vmin;
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/* media querries for small and big screens */
@media screen and (min-width: 600px) {
}
@media screen and (min-width: 1440px) {
}
