:root {
    --blue: #25008b;
    --teal: #2ea1ab;
    --red: #f05075;
    --darkteal: #4b1c77;
}

body {
    color: var(--teal);
    font-family: 'Open Sans', sans-serif;
    background-color: var(--blue);
}

button:hover {
    background-color: var(--blue);
    color: var(--teal);
}

button {
    background-color: var(--teal);
    color: var(--blue);
    border: none;
    transition: 800ms ease all;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    cursor: pointer;
    text-align: center;
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/*
@media screen and (min-width: 600px) {
}
@media screen and (min-width: 1440px) {
}
*/

em {
    font-style: italic;
    font-size: 0.7em;
}
