@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Open+Sans');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    line-height: inherit;
    vertical-align: baseline;
    background-repeat: no-repeat;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
    box-sizing: border-box;
    font-family: 'Open Sans', -apple-system, 'Segoe UI', Roboto, Helvetica,
        Arial, Helvetica, sans-serif;
}

ol,
ul {
    list-style: none;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

blockquote,
q {
    quotes: '' '';
}

a {
    outline: none;
    text-decoration: none;
}

/* Makes touches register 300ms faster on touch devices */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
